body {
    font-family: Georgia;
}

header {
    background-color: #005B4F;
    color: white;
    text-align: center;
    font-size: 50%;
    height: 20px;
}

main {
    background-color: #E1E2E1;
    height: 400px;
    padding: 20px;
    overflow: scroll;
}

section.image {
    width: 20%;
    float: left;
}

section.desc {
    float: left;
}

hr {
    clear: both;
}

footer {
    background-color: #005B4F;
    color: white;
    text-align: center;
    width: 50%;
    height: 20px;
    float: left;
}

img {
    padding: 20px;
    border-radius: 100%;
}

h2 {
    text-align: center;
    background-color: #00897B;
}

a {
    color: white;
}