* {
    margin: 1px;
    padding: 1px;
    font-family: 'Nova Mono', monospace;
    overflow: visible;       
}

body {
    text-align: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

button {
    width: 150px;
    height: 50px;
    border: none;
    color: #242f33;
    font-weight: bold;
    background-color: #60f3c2;
    transition: background-color 200ms ease;
    transition: transform 200ms ease;
    border-radius: 0.3em;
    box-shadow: 0 0 40px 1px rgb(96, 243, 194);
}

button:hover {
    transform:translate(0, 10px);
    background-color: #50d1a6;
}

button::after {
    background-color: aqua;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 20px 0px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: 1px solid #ffffff8c;
    border-radius: 5px;
    background-color: #ffffff8c;
    font-weight: lighter;
}

span, p {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: fit-content;
    block-size: fit-content;
    padding: 10px;
    margin: 20px 0px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border: 1px solid #ffffff8c;
    border-radius: 5px;
    background-color: #ffffff8c;
    font-weight: lighter;
}

a {
    box-shadow: inset 0 0 40px 1px rgb(96, 243, 194);
    color: #54b3d6;
    border-radius: 0.3em;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: black;
    font-family: 'Nova Mono', monospace;
    font-size: 35px;
    font-weight: lighter;
    line-height: 1.5;
    text-decoration: none;
}

a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 rgb(69, 206, 160);
}

h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff8c;
    border-radius: 5px;
    background-color: #ffffff8c;
    display: inline-block;
    block-size: fit-content;
    width: fit-content;
    font-weight: lighter;
    margin: 3.5vh 0;
}