* {
  font-family: Garamond;
}

header {
  background-color: tomato;
  color: white;
  text-align: center;
  width: 80%;
  height: 80px;
  float: left;
}

main {
  width: 80%;
  height: 600px;
}

aside {
  background-color: coral;
  width: 20%;
  height: 680px;
  float: right;
}

footer {
  background-color: tomato;
  color: white;
  text-align: center;
  clear: both;
}

img {
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.chat {
  border: 1px solid tomato;
  margin: 15px;
  height: 470px;
  overflow: scroll;
}

.chat section {
  border-radius: 5px;
  width: 90%;
  height: 70px;
  margin: 2%;
  padding: 3px;
}

.msg-j {
  background-color: #eee;
}

.msg-j img {
  float: left;
}

.msg-k {
  background-color: #ccc;
  text-align: right;
}

.msg-k img {
  float: right;
}

button {
  background-color: tomato;
  border: 1px solid darkred;
  padding: 5px;
  font-weight: bold;
}

input[type="text"] {
  width: 500px;
}
