body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

h1 {
  text-align: center;
}

button {
  padding: 10px;
}

form > button,
select {
  padding: 10px;
  margin: 5px;
}

.form-div > * {
  /* border: 1px solid black; */
  margin: 30px;
  text-align: center;
}
