body {
    margin: 0;
    font-family: Verdana;
}

header,
footer {
    background: #4682B4;
    color: white;
    padding: 20px;
    font-size: 120%;
    text-align: center;
    clear: both;
}

div.lewy {
    background: #40E0D0;
    float: left;
    width: 40%;
    height: 500px;
}

div.prawy {
    background: #40E0D0;
    float: right;
    width: 60%;
    height: 500px;
}

img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}