body {
  background-color: #e0f7fa;
  font-family: Arial;
  text-align: center;
}

.main-page {
  width: 95%;
  margin: auto;
}

header {
  background-color: #00838f;
  height: 200px;
}

nav {
  background-color: #006064;
  padding: 15px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 150%;
  padding: 0 10px;
}

section {
  height: 350px;
  width: 33%;
  float: left;
}

footer {
  background-color: #006064;
  color: white;
  text-align: right;
  padding: 10px;
  clear: both;
}

ul > li {
  text-align: left;
}

button {
  background-color: #00838f;
  color: white;
}

button:hover {
  color: #80deea;
}
