body {
  background-color: #f6e5dc;
  font-family: Verdana;
  margin: 0;
}

h1 {
  margin: 0;
}

header {
  background-color: #2f180c;
  text-align: center;
  color: khaki;
  height: 60px;
}

.left-container {
  width: 60%;
  float: left;
}

.right-container {
  font-size: 150%;
  padding: 70px;
  float: left;
}

main {
  background-color: #d0b6a8;
  text-align: center;
  padding: 30px;
  clear: both;
}

footer {
  background-color: #2f180c;
  color: khaki;
  height: 60px;
}

img {
  height: 350px;
}

button {
  margin: 10px;
  padding: 5px;
  background-color: #2f180c;
  color: khaki;
}
