* {
    margin: 1px;
    padding: 1px;
    font-family: 'Nova Mono', monospace;
    overflow: visible;       
}

body {
    background: rgb(124,201,221);
    background: linear-gradient(90deg, rgba(124,201,221,1) 0%, rgba(221,124,221,1) 50%, rgba(221,124,124,1) 100%);
}

button {
    width: 150px;
    height: 50px;
    border: none;
    color: #242f33;
    font-weight: bold;
    background-color: #60f3c2;
    transition: background-color 200ms ease;
    transition: transform 200ms ease;
    border-radius: 0.3em;
    box-shadow: 0 0 40px 1px rgb(96, 243, 194);
}

.red {
    background-color: #971010 !important;    
    color: #ffffff !important;
    font-weight: lighter !important;
}

.green {
    background-color: #2b9710 !important;   
    color: #ffffff !important; 
    font-weight: lighter !important;
}

.blue {
    background-color: #101997 !important;  
    color: #ffffff !important;  
    font-weight: lighter !important;
}

.magenta {
    background-color: #97105a !important;  
    color: #ffffff !important;  
    font-weight: lighter !important;
}

.clear {
    box-shadow: 0 0 40px 1px rgb(243, 96, 96);
    background-color: #f36060;
}

.clear:hover {
    transform:translate(0, 10px);
    background-color: #c24b4b;
}

button:hover {
    transform:translate(0, 10px);
    background-color: #50d1a6;
}

button::after {
    background-color: aqua;
}

div:has(button) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {
    position: absolute;
    display: block;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transText {
    position: absolute;
    display: block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(94,51,83, 0.2);
    color: linear-gradient(230deg, rgba(94,51,83,0.118) 0%, rgba(56,101,117,0.118) 100%);
    font-size: 60px;
}

span, p {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: azure;
    font-weight: bold;
}