:root {
  --primary-color: #9692b1;
  --secondary-color: #fff4cc;
  --secondary-another-color: #dbcc93;
  --text-color: white;
  --border-color: gray;
}

body {
  font-family: Verdana;
  margin: auto;
  padding: auto;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  height: 80px;
}

aside {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 20%;
  height: 750px;
  float: left;
}

.up {
  background-color: #fff4cc;
  width: 80%;
  height: 300px;
  text-align: center;
  float: left;
}

.down {
  background-color: var(--secondary-another-color);
  width: 80%;
  height: 450px;
  text-align: center;
  float: left;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
}

a {
  color: var(--text-color);
}

.up img {
  width: 15%;
  margin: 20px;
}

.down img {
  border: 4px solid var(--primary-color);
}

.down img:hover {
  border: 4px solid var(--border-color);
}
