body {
  font-family: Verdana;
  margin: auto;
  padding: auto;
}

header {
  background-color: #9692b1;
  color: white;
  text-align: center;
  height: 80px;
}

aside {
  background-color: #9692b1;
  color: white;
  width: 20%;
  height: 750px;
  float: left;
}

.up {
  background-color: #fff4cc;
  width: 80%;
  height: 300px;
  text-align: center;
  float: left;
}

.down {
  background-color: #dbcc93;
  width: 80%;
  height: 450px;
  text-align: center;
  float: left;
}

footer {
  background-color: #9692b1;
  color: white;
  text-align: center;
}

a {
  color: white;
}

.up img {
  width: 15%;
  margin: 20px;
}

.down img {
  border: 4px solid #9692b1;
}

.down img:hover {
  border: 4px solid gray;
}
